* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Below needs to be included in the HTML file, doesn't like it here...
body {
    background-image: url("static/images/casino-felt.jpeg");
    background-repeat: no-repeat;
}
*/

img {
    border: 2.5px solid black;
}

.title {
    text-align: center;
    padding: 2% 2% 2% 2%;
    color: red;
}

.main-body {
    text-align: center;
}

.card-container {
    text-align: center;
    /*float: left;*/
}

.score-container {
    text-align: center;
}