<!--DOCTYPE html-->
<html lang="en">

    <head>
        <link rel="stylesheet" href="static/css/styles.css">
        <h1>Blackjack</h1>
    </head>

    <body>
        <p>First card</p>
        <img id="currentCard1" src="" width="111" height-"161"></img>
        <p>Second card</p>
        <img id="currentCard2" src="" width="111" height="161"></img>
        <br>
        <p>Value of first card</p>
        <p id="card1value"></p>
        <p>Value of second card</p>
        <p id="card2value"></p>
        <p>Combined value of cards</p>
        <p id="total"></p>
        <button onclick="nextCard()">Hit</button>
        <script src="static/javascript/main.js"></script>
    </body>

</html>